.main-section.-Skills{
    padding-top: 50px;
    padding-bottom: 100px;
    background: #4B3737;
    border-bottom: 7px solid #f25A70;
}

/*.main-section .main-title{
    margin-bottom: 60px;
}*/

.main-section.-projects{
    background-color: #000;
    padding-bottom: 100px;
}

.main-section.-sobre{
    background-color: #000;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    border-bottom: 5px solid #bbb2b6;
}

.main-section.-contato{
    background-color: #3A4042;
    padding: 0px 10px 20px 10px;
    border-bottom: 5px solid #000;
}

.main-section.-icons{
    background-color: #3A4042;
    height: 70px;
}