.main-title{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 50px;
    color: #BBB2B6;
    text-shadow: 7px 7px 0 #000;
    padding-top: 60px;
}

.main-title.-name{
    font-size: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.main-title.-second{
    color: #bbb2b6;
    font-size: 40px;
    text-align: center;
    text-shadow: none;
    padding-top: 40px;
}